:root {
    --white-text: #f8fcff;
    --accent-text: #1d6fb6;
}

body {
  background-color: var(--white-text);
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: #25282b;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.header__inner {
  min-height: 108px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 15px;
  align-content: center;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}

.logo {
  max-width: 54px;
}

.header__socials {
  justify-content: end;
}

.socials {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}

/* ============================== */

.hero {
  padding: 120px 0;
  position: relative;
  color: var(--white-text);
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 30px;
}
.hero__list {
  font-size: 24px;
  margin-bottom: 40px;
}
.hero__list-item {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 15px;
  transition: all .3s;
}

.hero__list-item:last-child {
  margin-bottom: 0px;
}

.hero__list-item path {
  transition: all .3s;
}

.hero__list-item:hover {
  color: var(--accent-text);
}

.hero__list-item:hover path {
  fill: var(--accent-text);
}

.hero__video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.hero__video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero__video::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #102e49cc;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--accent-text);
  background-color: #d0dce7;
  height: 56px;
  max-width: 288px;
  width: 100%;
  border-radius: 100px;
  transition: all .3s;
}

.button:hover {
  background-color: #83ADD3;
  color: var(--white-text);
}

/* =============================== */

.main__general {
  padding: 120px 0;
}

.main__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}

.main__sidebar {
  position: sticky;
  top: 5vh;
}

.main__body {
  max-width: 792px;
  width: 100%;
}

.main__gallery {
  margin-bottom: 120px;
}

.sidebar {
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #d0dce7;
  padding: 30px;
  max-width: 282px;
  width: 100%;
  min-height: 60vh;
}

.sidebar__item {
  margin-bottom: 20px;
}

.sidebar__item:last-child {
  margin-bottom: 0px;
}

/* ============================= */


.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  gap: 24px;
  font-weight: 500;
  color: var(--white-text);
}

.gallery__img {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
} 

.gallery__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;

}

.gallery__img--large-left {
  grid-column: 1 / 3;
  grid-row: span 2;
}

.gallery__img--large-right {
  grid-column: -1/-3;
  grid-row: span 2;
}

.gallery__hint {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1d6fb6b3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  transform: translateY(100%);
  opacity: 0;
  transition: all .3s;
}

.gallery__img:hover .gallery__hint {
  transform: translateY(0%);
  opacity: 1;
}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
  height: 103px;
  font-size: 24px;
}

/* =============================== */

.products {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.products__item-img {
  position: relative;
  padding-bottom: 62%;
}

.products__item-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.products__item-bage {
  position: absolute;
  left: 0;
  top: 12.6%;
  background-color: var(--white-text);
  padding: 18px 15px;
  min-width: 33.9%;
  border-radius: 0 100px 100px 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--accent-text);
  animation: bage-action 3s infinite alternate;
}

@keyframes bage-action {
  0% {
    min-width: 33.9%;
  }
  66.66% {
    min-width: 33.9%;
  }
  100% {
    min-width: 37.3%;
  }
}

.products__item-body {
  border: 1px solid #d0dce7;
  border-top: none;
  padding: 30px 15px;
}

.products__button {
  margin: 0 auto;
}

/* ============================== */

.footer {
  padding: 30px 0;
  background-color: #788088;
  text-align: center;
  color: var(--white-text);
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


