body {
  background-color: #181E34;
  color: #fff;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 150%;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* --------------------------------------- */

.header {
  padding: 30px 0 36px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 30px;
}

.header-button {
  font-weight: 500;
  color: #2766ae;
  padding: 14px 30px;
  background-color: #fff;
  border-radius: 100px;
}

/* ------------------------------------------- */

.hero {
  background: url("../images/baground.jpg") 10% 50% / cover no-repeat;
  padding: 120px 0;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 436px;
}

.paragraph {
  margin-bottom: 15px;
}

.paragraph span {
  font-weight: 700;
  color: #01a2cb;
  text-transform: uppercase;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 320px;
  width: 100%;
}

.hero-button-one, 
.hero-button-two {
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;

}

.hero-button-one {
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
}

.hero-button-two {
  background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.hero-button-one img, 
.hero-button-two img{
  margin-left: 4px;
}

.margin-bottom {
  margin-bottom: 10px;
}

/* ---------------------------------------- */

.cardsection {
  padding: 120px 0;
}

.cardsection-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.cardsection-desc {
  max-width: 510px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px;
  margin-bottom: -28px;
  padding-bottom: 30px;
}

.card-list-item {
  flex: 0 0 25%;
  padding: 0 14px;
  margin-bottom: 28px;
}

.card-list-inner {
  box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
  background: #197cb8;
  border-radius: 16px;
  border: 2px solid #176bae;
  padding: 28px 26px;
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}

.card-desc {
  text-align: center;
}

.cardsection-button {
  display: block;
  margin: 0 auto;
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
  padding: 18px 30px;
  max-width: 436px;
  width: 100%;
  text-align: center;
  border-radius: 100px;
}

/* ---------------------------------- */

.footer {
  padding: 60px 0;
  border-top: 1px solid #323952;
}

.footer-inner {
  display: flex;
}

.footer-desc {
  max-width: 267px;
  margin-right: auto;
}

.footer-desc img {
  margin-bottom: 15px;
}

.footer-column {
  max-width: 204px;
  width: 100%;
}

.margin-right {
  margin-right: 28px;
}

.footer-column-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
