@import url('fonts.css');
@import url('reset.css');

:root {
  --accentny: #F47521;
  --white: #fff;
  --dark-color: #141414;
  --text-color: #979797;
  --bg-color: #E3E3DE;
  --font-family: "Oswald", sans-serif;
  --second-family: "Archivo", sans-serif;
  --transition: all .4s;
}

.body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--dark-color);
  color: var(--white);
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1738px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.main {
  flex-grow: 1;
}

.main__about {
  padding: 140px 0 200px;
}

.transperent-title {
  font-weight: 600;
  font-size: 397px;
  line-height: 0.98;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff4d;
  z-index: -1;
  position: absolute;
}

/* ========================== */

.header__top {
  padding: 60px 0;
  border-bottom: 1px solid #ffffff80;
}
.header__top-inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
}
.header__logo {
  max-width: 198px;
  z-index: 11;
}

.header__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 6vh 50px;
}

.nav__link {
  display: block;
  font-family: var(--second-family);
  font-size: 22px;
  font-weight: 600;
  padding: 5px 0;
  z-index: 1;
  white-space: nowrap;
  position: relative;
}

.nav__link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--accentny);
  z-index: -1;
  top: -5px;
  left: -15px;
  opacity: 0;
  transition: all .4s;
}

.nav__link:hover::before {
  opacity: 1;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__button-basket {
  width: 37px;
  height: 33px;
}
.header__button-search {
  width: 28px;
  height: 28px;
}

.burger-icon {
  display: none;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--white);
  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  top: -6px;
}

.burger-icon span::after {
  bottom: -6px;
}

.body--opened-menu .burger-icon span {
  background-color: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0;
  transform: rotate(-45deg);
}


/* ======================== */

.header__hero {
  padding-top: 80px;
}

.hero__top {
  position: relative;
}

.hero__title {
  font-weight: 600;
  font-size: 198px;
  line-height: 0.98;
  margin-bottom: -60px;
}

.hero__transperent-title {
  top: 13%;
  right: 0;
  margin-bottom: -45px;
}

.hero__scroll-btn {
  width: 122px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--accentny);
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transform-origin: center;
  transition: all .4s;
}

.hero__scroll-btn path {
  transition: all .4s;
}

.hero__scroll-btn:hover {
  transform: translate(-50%, -50%) rotate(90deg) scale(1.02);
}

.hero__scroll-btn:hover path{
  stroke: var(--white);
}

.hero__img {
  position: relative;
  z-index: 2;
  width: 100vw;
}

.hero__img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__bottom-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.hero__button {
  display: block;
  background-color: var(--bg-color);
  padding: 56px;
  transition: all .4s;
}

.hero__button:hover {
  background-color: var(--accentny);
}

.hero__button-subtitle {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: var(--accentny);
  margin-bottom: 4px;
}

.hero__button-title {
  font-weight: 600;
  font-size: 42px;
  color: var(--dark-color);
}

.hero__button:hover .hero__button-title{
  color: var(--white);
}

.hero__button-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 176px;
}

.hero__button-text {
  font-family: var(--second-family);
  line-height: 1.44;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #141414;
}

.hero__button-arrow {
  transition: all .4s;
}

.hero__button:hover .hero__button-arrow {
  transform: rotate(90deg);
  animation: arrowAnimation .8s infinite;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-30px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

/* ======================== */

.about {
  position: relative;
  background: url("../img/content/bg-dots.svg") 50% 50% / no-repeat;
}

.about__inner {
  display: grid;
  grid-template-columns: auto 1fr minmax(74px, 74px);
  align-items: center;
}
.about__content {

}
.about__main-title {
  font-weight: 600;
  font-size: 120px;
  margin-bottom: 17px;
}

.about__main-title span {
  color: var(--accentny);
}

.about__content-blocks {
  max-width: 468px;
}

.about__content-block {
  margin-bottom: 40px;
}

.about__content-block:last-child {
  margin-bottom: 103px;
}

.about__title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}
.about__text {
  font-family: var(--second-family);
  color: var(--text-color);
  line-height: 1.69;
}
.about__content-button {
  border-left: 4px solid #fff;
  padding: 23px 58px;
  background-color: var(--accentny);
  max-width: 213px;
  font-weight: 500;
  font-size: 20px;
}

.about__slider {
  height: 700px;
  display: flex;
}

.about__slider-wrapper {
  overflow: visible;
}

.about__slide-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.about__slide {
  display: flex;
  align-items: center;
}

.about__slide-content {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translate(-50%, -50%);
}

.about__slide-info {
  width: 176px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white);
}

.about__info-block {
  
}

.about__info-kilo {
  font-weight: 500;
  font-size: 30px;
  color: var(--dark-color);
}

.about__info-text {
  font-family: var(--second-family);
  color: var(--text-color);
  line-height: 1.69;
}

.about__slide-info--accentny {
  background-color: var(--accentny);
}

.about__slide-info--accentny p {
  color: var(--dark-color);
}

.about__slide-img {
  max-width: 543px;
}

.about__slide-img img {
  width: 100%;
}

.about__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.about__pagination .swiper-pagination-bullet {
  width: 74px;
  height: 74px;
  margin: -6px 0 0 -6px;
  background: var(--white);
  opacity: 1;
  transform: scale(0.2);
  transition: var(--transition);
}

.about__pagination .swiper-pagination-bullet span {
  font-size: 21px;
}

.about__pagination .swiper-pagination-bullet-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 5px solid var(--accentny);
  transform: scale(1);
  background: transparent;
}


/* ======================== */

.footer__top {
  padding: 75px 0;
  border-bottom: 1px solid #ffffff80;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer__logo {
  max-width: 270px;
}

.footer__logo img {
  width: 100%;
}

.footer__top-title {
  font-weight: 500;
  font-size: 50px;
  z-index: 1;
  position: relative;
}

.footer__top-title::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: var(--accentny);
  z-index: -1;
  top: -10px;
  left: -34px;
}

.footer__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #a6a6a6;
  margin-bottom: 24px;
}

.footer__content-inner {
  display: grid;
  justify-content: space-between;
  align-items: start;
  grid-template-columns: 0.9fr auto auto;
  gap: 110px;
  padding: 100px 0 142px;
}
.footer__col:first-child {
  justify-self: start;
}

.footer__col-location {
  max-width: 203px;
}

.footer__col-hours {
  max-width: 223px;
}

.footer__contact {
  margin-bottom: 47px;
}

.footer__contact-email {
  display: block;
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 4px;
}

.footer__contact-tel {
  display: block;
  font-weight: normal;
  font-size: 42px;
}
.footer__information-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__information-title {
  font-weight: normal;
  font-size: 42px;
  margin-bottom: 4px;
}
.footer__information-text {
  font-weight: normal;
  font-size: 20px;
  color: #a6a6a6;
}

.footer__bottom {
  padding: 29px 0;
  font-family: var(--second-family);
  font-weight: 500;
  opacity: 0.6;
  background-color: #303030;
}

.footer__bottom span {
  font-weight: 700;
}

/* ======================== */

.socials__list {
  display: flex;
  align-items: center;
  gap: 65px;
}

/* ======================== */


/* ======================== */
/* ======================== */
/* ======================== */
@media (max-width: 1200px) {
  .header__top-inner {
    align-items: center;
  }
  .nav__list {
    gap: 6vh 20px;
  }
  .nav__link {
    font-size: 20px;
  }

  /* ------------- */

  .hero__button {
    padding: 40px;
  }
  .hero__button-title {
    font-size: 35px;
  }
}

@media (max-width: 1100px) {
  .hero__title {
    font-size: 16vw;
    margin-bottom: -30px;
  }
  .hero__transperent-title {
    font-size: 22vw;
  }
  .hero__scroll-btn {
    width: 84px;
    height: 84px;
  }
  .hero__scroll-btn svg {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--bg-color);
    padding: 25vh 15px 30px;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }
  .body--opened-menu .nav {
    color: var(--dark-color);
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .burger-icon {
    display: flex;
  }
  .body--opened-menu .burger-icon span::before,
  .body--opened-menu .burger-icon span::after {
    background-color: var(--dark-color);
  }

  /* ------------------ */
  
  .header__hero {
    padding-top: 30px;
  }
  .hero__img img{
    height: 40vh;
  }
  .hero__title {
    margin-bottom: -15px;
  }
  .hero__bottom-list{
    grid-template-columns: repeat(2, 1fr);
  }

  /* ------------------ */

  .footer__top-inner {
    flex-direction: column;
    align-items: start;
  }

  .footer__top-title {
    font-size: 35px;
  }

  .footer__top-title::before {
    width: 50px;
    height: 50px;
    top: -6px;
    left: -13px;
  }

  .footer__content-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .header__top-inner {
    align-items: center;
  }
  .header__logo {
    max-width: 120px;
  }
  .nav__link {
    font-size: 18px;
  }
  .header__buttons {
    gap: 15px;
  }
  .header__button-basket,
  .header__button-search {
    display: none;
  }

  /* -------------------- */
  .footer__top {
    padding: 30px 0;
  }

  .footer__top-inner {
    align-items: center;
  }

  .footer__top-title {
    font-size: 6vw;
  }

  .footer__top-title::before {
    display: none;
  }

  .footer__content-inner {
    grid-template: none;
    justify-content: center;
    gap: 50px;
    padding: 50px 0 70px;
  }

  /* -------------------- */

  .hero__title {
    margin-bottom: 0;
  }
  .hero__transperent-title {
    display: none;
  }
  .hero__scroll-btn {
    top: 120%;
    width: 66px;
    height: 66px;
  }
  .hero__scroll-btn svg {
    width: 25px;
    height: 25px;
  }
  .hero__bottom-list {
    grid-template: none;
  }
}