.footer {
  background-color: #AB8261;
  color: var(--fonovyy-svetlyy);
  padding: 60px 0;
}

.footer__inner {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
  gap: 40px 30px;
}
.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  margin-bottom: 10px;
}

.footer__col-item:last-child {
  margin-bottom: 0;
}

.footer__col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer__col-link::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background-color: var(--akcentnyy);
  border-radius: 100%;
  opacity: 0;
  transition: all .4s;
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-item {
  margin-bottom: 10px;
}

.footer__contact-item:last-child {
  margin-bottom: 0;
}

.footer__col-tel {
  margin-bottom: 47px;
}
.footer__col-number {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  transition: all .4s;
}

.footer__col-number:hover {
  color: var(--akcentnyy);
}

.footer__col-company {
  color: #dec5b1;
}

/* ================================ */

.socials {
  line-height: 0;
}
.socials__list {
  display: flex;
  gap: 15px;
}

.socials__link path {
  transition: all .4s;
}

.socials__link:hover path {
  fill: var(--akcentnyy);
}