:root {
	--akcentnyy: #ffa55c;
	--akcentnyy-2: #ceaad0;
	--fonovyy: #ffe0cb;
	--fonovyy-svetlyy: #fff9f4;
	--zagolovochnyy: #1f1711;
	--nabornyy: #312c27;
	--fioletovyy: #704174;
	--disabled: #e1d9e1;
	--inputy: #ac907a;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--nabornyy);
  line-height: 1.5;
  background-color: var(--fonovyy-svetlyy);
}

.body--opened-modal {
  overflow: hidden;
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.main {
  flex-grow: 1;
}

.main__about {
  padding: 140px 0;
}

.main__program {
  padding-bottom: 140px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--akcentnyy);
  border-radius: 60px;
  height: 62px;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  width: 100%;
  transition: all .4s;
}

.button:hover {
  background-color: #ff9138;
}

.modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  padding: 15px;
  background: #00000048;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  background-color: var(--fonovyy-svetlyy);
  padding: 0 60px 60px;
  border-radius: 20px;
  max-width: 428px;
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
  transition: all .4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: var(--inputy);
}
.modal__image {
  margin: -65px 0 15px 12px;
  max-width: 100%;
}
.modal__title {
  font-family: "Gabriola", sans-serif;
  font-size: 42px;
  line-height: 0.9;
  color: var(--zagolovochnyy);
  margin-bottom: 10px;
}
.modal__text { 
  margin-bottom: 30px;
}

.field__input {
  display: block;
  width: 100%;
  border: 1px solid var(--inputy);
  border-radius: 100px;
  padding: 19px 41px 19px 28px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: all .4s;
}

.modal__form-label {
  margin-bottom: 10px;
}

.field {
  position: relative;
  display: block;
}

.field span {
  position: absolute;
  top: 12px;
  left: 28px;
  font-size: 11px;
  color: var(--inputy);
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.field__input:hover {
  border-color: var(--akcentnyy);
}

.field__input::placeholder {
  color: var(--inputy);
  transition: all .4s;
}

.field__input:hover::placeholder {
  color: var(--akcentnyy);
}

.field__input:focus {
  padding: 27px 41px 12px 28px;
}

.field__input:focus + span {
  opacity: 1;
  visibility: visible;
} 