@media (max-width: 1200px) {
  .hero__img {
    margin: 0;
    max-width: 377px;
  }
  .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }
  /* --------------- */

  .program__top {
    flex-direction: column;
    align-items: stretch;
  }

  .tab-control {
    flex-wrap: wrap;
  }

  /* -------------- */

  .footer__inner {
    grid-template: repeat(2, auto) / repeat(3, auto);
  }
  .footer__col:last-child {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .about__img {
    grid-row: auto;
  }
  .about__body {
    align-self: center;
  }
  .about__grid {
    grid-column: 1 / -1;
  }

  /* ------------------ */

  .accordion-list__control {
    padding: 25px 30px;
  }

  .accordion-list__control-title {
    font-size: 35px;
  }

  .accordion-content {
    gap: 30px;
  }

}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: var(--fonovyy-svetlyy);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }

  .body--opened-menu .nav{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .burger-icon {
    display: flex;
  }
  /* ----------------- */

  .program__action {
    max-width: none;
    grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
  }

  .program__img {
    display: none;
  }

  /* ---------------- */

  .footer__inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0;
  }
  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }
  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }

}

@media (max-width: 800px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: none;
    width: 100%;
  }

  .hero__img {
    display: none;
  }
  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px ;
  }

  /* ---------------- */

  .about__inner {
    grid-template: none;
  }
  .about__img {
    max-width: 500px;
    justify-self: center;
  }
  .about__body {
    text-align: center;
  }
  .about__grid {
    grid-template: none;
  }

  /* ----------------- */

  .tab-control {
    gap: 10px;
  }

  .tab-control__link {
    padding: 6px 20px;
  }

  .accordion-content {
    flex-direction: column;
  }

  .accordion-content__col:first-child {
    max-width: none;
  }

  .accordion-content__text {
    max-width: none;
  }

}

@media (max-width: 600px) {
  .header__hero {
    padding-bottom: 70px;
  }
  .hero__title {
    font-size: 12vw; 
  }

  /* ------------- */

  .main__about {
    padding: 70px 0;
  }

  .main__program {
    padding-bottom: 70px;
  }

  .about__img-controls {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    max-width: none;
    border-radius: 0;
  }
  .about__title {
    font-size: 12vw;
  }
  .about__grid {
    gap: 15px;
  }
  .about__grid-item {
    padding: 10px 15px;
  }

  /* -------------- */

  .program__title {
    font-size: 12vw;
    text-align: center;
  }
  
  .program__text {
    text-align: center;
  }

  .program__top {
    margin-bottom: 20px;

  }

  .program__action {
    gap: 15px;
    grid-template: repeat(3, auto) / repeat(2, auto);
  }

  .program__discount {
    grid-row: auto;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .tab-control {
    justify-content: center;
  }

  .accordion-list__item {
    margin-bottom: 10px;
  }

  .accordion-list__control {
    padding: 17px 15px;
  }

  .accordion-list__control-title {
    font-size: 28px;
  }

  .accordion-list__control-icon {
    width: 26px;
    height: 26px;
  }

  .accordion-list__control-icon svg {
    width: 10px;
  }
}

@media (max-width: 450px) {
  .modal__image {
    max-width: 50%;
    margin-top: -45px;
  }
  .modal__window {
    padding: 0 15px 45px;
  }
  .modal__title {
    font-size: 11vw;
  }

  /* ------------- */

  .accordion-content {
    padding: 0 15px 30px;
  }

  .accordion-content__item {
    margin-bottom: 10px;
  }

  .program__action {
    grid-template: none;
  }

  .program__price {
    text-align: center;
  }
}
