body {
  background-color: rgb(42, 41, 41);
  color: bisque;
  font-size: 28px;
}

.white-rectangle {
  height: 100px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  right: 50px;
  bottom: 100px;
  border-radius: 25px;
}

.red-circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: red;
  position: absolute;
  left: 100px;
  bottom: 50%;
}
